pip==22.0.4
Flask==2.0.3
jira==3.1.1
jproperties==2.1.1
lib==4.0.0
pandas==1.4.2
requests==2.27.1
urllib3==1.26.8
astroid==2.11.2
bencode.py==4.0.0
dill==0.3.4
docopt==0.6.2
et-xmlfile==1.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
observable==1.0.3
openpyxl==3.0.9
panda==0.3.1
pipreqs==0.4.11
platformdirs==2.5.1
pylint==2.13.5
setuptools==58.1.0
tomli==2.0.1
wrapt==1.14.0
xmlutils==1.4.1
yarg==0.1.9
python_on_whales